@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@keyframes scroll {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-40%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
    will-change: transform;
}

@keyframes reviews-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-reviews-scroll {
    animation: reviews-scroll 20s linear infinite;
    will-change: transform;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadein 0.5s ease-in forwards;
}