@import "tailwindcss";

@keyframes scroll {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-40%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
    will-change: transform;
}